<% @story.tags.build %>
<%= form_for(@story) do |story_form| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= story_form.label :name %><br />
    <%= story_form.text_field :name %>
  </div>
  <div class="field">
    <%= story_form.label :title %><br />
    <%= story_form.text_field :title %>
  </div>
  <div class="field">
    <%= story_form.label :content %><br />
    <%= story_form.text_area :content %>
  </div>  
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => story_form} %>
  <div class="actions">
    <%= story_form.submit %>
  </div>
<% end %>
